{% extends "app/layout.html" %}
{% load static %}

{% block title %}Actualizar producto{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'app/css/estilo_registro_prod.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <form action="/editarProductos/" method="post" id="formRegistroProductos">
        {% csrf_token %}
        <h3 id="Titulo">Registro de nuevos productos</h3>
        <br>
        <label for="inputCodigo" class="form-label">Codigo</label>
        <br>
        <input type="number" name="codigo" id="inputCodigo" value="{{ productos.codigo }}" readonly required>
        <br>
        <br>
        <label for="inputNombreProducto" class="form-label">Nombre del Producto</label>
        <br>
        <input type="text" name="nombre" id="inputNombreProducto" value="{{ productos.nombre }}">
        <br>
        <br>
        <label for="inputMarca" class="form-label">Marca</label>
        <br>
        <input type="text" name="marca" id="inputMarca" value="{{ productos.marca }}">
        <br>
        <br>
        <label for="inputPrecio" class="form-label">Precio</label>
        <br>
        <input type="number" name="precio" id="inputPrecio" value="{{ productos.precio }}">
        <br>
        <br>
        <label for="inputStock" class="form-label">Stock</label>
        <br>
        <input type="number" name="stock" id="inputStock" value="{{ productos.stock }}">
        <br>
        <br>
        <label for="inputImagen class="form-label">URL Imagen</label>
        <br>
        <input type="text" name="imagen" id="inputImagen" value="{{ productos.imagen }}"> 
        <br>
        <br>
        <button type="submit" class="btn btn-primary" id="btnAgregar">Actualizar</button>
        <button type="reset" class="btn btn-secondary" id="btnLimpiar">Limpiar</button>
        
        
    
    </form>
</div>
{% endblock %}