{% extends "app/layout.html" %}
{% load static %}
{% block title%}Carrito{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'app/css/estilo_carrito.css' %}">
{% endblock %}

{% block content %}
<div id="contenido">
    <div>
        <h1>Cesta de Compras</h1>
    </div>
    <div class="carro">
        <div class="table">
            <table class="table">
                <thead>
                    <tr id="columnas">
                        <th scope="col">Producto</th>
                        <th scope="col" style="display: flex; justify-content: center;">Cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in cartitems %}
                    <tr>
                        <th id="producto">
                            <div>
                                <img src="{{i.imagen}}" alt="">
                            </div>
                            <div>
                                <div class="tituloProducto">
                                    <h2>{{i.nombre}}</h2>
                                </div>
                            </div>

                        </th>
                        <td id="cantidad">
                            <div class="selector">
                                <p>{{i.cantidad}}</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p id="valor">${{i.subtotal_producto}} CLP</p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for c in cart %}
        <div class="precio">

            <div class="monto">
                <h3>Total</h3>
                <div id="total">
                    <p>${{c.subtotal}} CLP</p>
                </div>
            </div>
            <div class="comprar">
                <label for="delibery">Impuestos incluidos. ¡Solo por hoy envío gratis!</label>
                <a href="{% url 'comprar' p_total=c.subtotal id_carrito=c.id_carrito %}"
                    class="btn btn-danger">Comprar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}