{% extends "app/layout.html" %}
{% load static %}

{% block title %}CRUD Productos{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'app/css/estilo_crud_prod.css' %}">

{% endblock %}

{% block content %}

<a href="{% url 'registroProductos' %}"><button type="submit" class="btn btn-primary" id="btnNuevoProducto">Nuevo Producto</button></a>
<table class="table table-striped" id="tablaProductos">
    <tbody>
        
        <tr id="tblNombreColumna">
            <th>Código</th>
            <th>Nombre del Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>

        {% for i in productos %}
        <tr id="tblDatos">
            <td>{{ i.codigo }}</td>
            <td>{{ i.nombre }}</td>
            <td>{{ i.marca }}</td>
            <td>{{ i.precio }}</td>
            <td>{{ i.stock }}</td>
            <td><img src="{{ i.imagen }}" alt="" width="40"></td>
            <td>
                 <a href="{% url 'actualizarProductos' i.codigo %}" class="btn btn-primary"><img src="{% static 'app/img/editar_producto.png' %}" alt="">Editar</a>
                 <a href="{% url 'borrarProductos' i.codigo %}" class="btn btn-danger"><img src="{% static 'app/img/borrar_producto.png' %}" alt="">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}



