{% extends "app/layout.html" %}

{% block title %}Editar promción{% endblock %}

{% block head %}
<style>
    .container {
        background-color: black;
        width: 60%;
    }

    form {
        min-width: 60%;
    }
</style>
{% endblock %}

{% block content %}
{% for p in promo %}
<div class="container mt-4 d-flex flex-column align-items-center">
    <form method="post" class="pb-3" autocomplete="off">
        {% csrf_token %}
        <legend class="text-light">Editar promoción</legend>
        <label class="text-light form-label">Descripción actual: {{p.descripcion}}</label>
        <input type="text" placeholder="nueva descripcion" class="form-control" name="newdesc">
        <br>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
</div>
{% endfor %}
{% endblock %}