{% extends "app/layout.html" %}
{% load static %}
{% block title %}Masterbikes{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'app/css/estilo_plantilla.css' %}">
{% endblock %}
{% block content %}
<div id="carrusel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/img/1.1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div id="hist_masterbikes">
    <img src="{% static 'app/img/mountainbike.jpeg' %}" alt="mountainbike">
    <div id="parrafo_hist">
        <h1 style="text-align: center;">Historia de MasterBikes</h1>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi non commodi velit quia enim perspiciatis
            adipisci tempora ducimus eius dignissimos, in dolorum ipsa, mollitia blanditiis voluptates quasi autem
            iusto facere deserunt illo id? Reiciendis qui, eligendi assumenda molestias similique nostrum minus
            laboriosam, inventore suscipit neque iste enim non placeat? A debitis iusto illo, quibusdam veritatis
            laborum quis nulla! Veritatis minus temporibus ut culpa, suscipit a perferendis enim, molestiae quas
            provident eius totam earum nostrum velit sed officiis in quisquam saepe assumenda! Quaerat eum saepe
            iste, debitis amet blanditiis illum enim laboriosam fugiat totam earum provident obcaecati labore
            voluptatem veniam? Cum repellendus qui repudiandae maxime, consequatur optio excepturi aut sapiente a
            adipisci dicta fugit amet quisquam esse ex soluta perspiciatis. Ipsa veritatis obcaecati sequi? Quae ab
            qui animi facere. Natus beatae laborum dolorum distinctio minus, animi adipisci doloremque totam,
            commodi reiciendis id? Recusandae nam quibusdam beatae vero perferendis ducimus maiores quis corporis
            voluptas. Possimus architecto consectetur sapiente? Deleniti, delectus?
        </p>
    </div>
</div>

<div id="productos">
    <div id="titulo">
        <p1>Nuestros Productos</p1>
    </div>
</div>
<div id="card">

</div>
<div class="row row-cols-3 row-cols-md-8" id="prods">
    <div class="col">
        <div class="card" style="width: 100%">
            <img src="{% static 'app/img/b.8.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bicicleta Razha</h5>
                <p class="card-text">$100.000 CLP</p>
                <p class="card-text">Stock: 3</p>
                <a href="tienda.html" class="btn btn-light">Ver en la tienda</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 100%">
            <img src="{% static 'app/img/b.6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bicicleta Donna Rozzi</h5>
                <p class="card-text">$80.000 CLP</p>
                <p class="card-text">Stock: 4</p>
                <a href="tienda.html" class="btn btn-light">Ver en la tienda</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 100%">
            <img src="{% static 'app/img/b.9.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bicicleta Skoda</h5>
                <p class="card-text">$90.000 CLP</p>
                <p class="card-text">Stock: 3</p>
                <a href="tienda.html" class="btn btn-light">Ver en la tienda</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}