{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterBikes</title>

    <!-- Fuente logo masterbikes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo_producto.css' %}">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <header>

        <div id="logo_header">
            <img src="{% static 'app/img/masterbike.png' %}" alt="logo">
            <h2>MasterBikes</h2>
        </div>

        <div id="menu">
            <a href="">Inicio</a>
            <a href="">Tienda</a>
            <a href="">Carrito</a>
            <a href="">Servicios</a>
            <a href="">Mi cuenta</a>
        </div>

    </header>

    {% for p in producto %}
    <div id="Producto1">
        <img src="{{p.imagen}}" alt="producto">
        <div id="parrafo_prod">
            <h1 style="text-align: center;">{{p.nombre}}</h1>
            <h4>${{p.precio}} CLP</h4>
            <h5>Disponibles: {{p.stock}}</h5>
            <input type="number" value="{{p.stock}}" style="display: none;" id="disponibles">
            {% if p.stock == 0 %}
            <h2>PRODUCTO NO DISPONIBLE</h2>
            {% else %}
            <form action="{% url 'multicompra' prod_id=p.codigo user_id=request.session.email %}" method="post">
                {% csrf_token %}
                <button type="button" class="boton" onclick="restar()">-</button>
                <input type="number" class="cantidad" id="cantidad" value="1" name="cantidad" max="{{p.stock}}">
                <button type="button" class="boton" onclick="sumar()" id="btnSumar">+</button>
                <button type="submit" class="btn btn-primary">AÑADIR AL CARRITO</button>
            </form>
            {% endif %}
            <img src="{% static 'app/img/pagos.png' %}" alt="" class="pagos">
            <h5>DESCRIPCION:</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum reiciendis tempora ut sit labore nulla
                quibusdam perferendis similique autem quisquam. Porro commodi animi pariatur magnam. Delectus quidem
                possimus quae, dicta porro iure autem placeat laborum omnis sapiente impedit molestiae? Officiis
                repudiandae reiciendis temporibus accusamus saepe.</p>
            <h5>ESPECIFICACIONES:</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam aliquid nam sint quas est maxime.?</p>
        </div>
    </div>
    {% endfor %}


    <footer>

        <div id="info">
            <h3>Contacto: +56 9 0000 0000</h3>
            <br>
            <h3>Correo: contacto@masterbikes.cl</h3>
            <br>
            <div id="redes_sociales">

                <h3>Redes sociales:</h3>
                <a href=""><img src="{% static 'app/img/facebook.png' %}" alt="facebook"></a>
                <a href=""><img src="{% static 'app/img/instagram.png' %}" alt="instagram"></a>
                <a href=""><img src="{% static 'app/img/twitter.png' %}" alt="twitter"></a>

            </div>
            <br>
            <h3>© Informanía 2022</h3>
        </div>

        <div id="logo_footer">
            <img src="{% static 'app/img/masterbike.png' %}" alt="logo">
        </div>


    </footer>

    <script>
        function sumar() {
            if (parseInt(document.getElementById("cantidad").value) == parseInt(document.getElementById("disponibles").value)) {
                document.querySelector('#btnSumar').disabled = true;
            } else {
                var cantidad = parseInt(document.getElementById("cantidad").value);
            document.getElementById("cantidad").value = cantidad + 1;
            } 
        }

        function restar() {
            document.querySelector('#btnSumar').disabled = false;
            var cantidad = parseInt(document.getElementById("cantidad").value);
            if (cantidad != 1) {
                document.getElementById("cantidad").value = cantidad - 1;
            } else {
                return;
            }
        }
    </script>

</body>

</html>