{% extends "app/layout.html" %}
{% load static %}

{% block title %}Tienda{% endblock%}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/estilo_tienda.css' %}">
{% endblock %}

{% block content %}
    <div id="productos">
        <div id="titulo">
            <p1>Tienda</p1>
        </div>
    </div>
    <div id="card">
        <div class="row rows-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 container-fluid">
            {% for i in productos %}
            <div class="col">
                <div class="card">
                    <img src="{{i.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'producto' i.codigo %}" style="text-decoration: none; color:#ffffff;"><h5 class="card-title">{{i.nombre}}</h5></a>
                        <p class="card-text">${{i.precio}} CLP</p>
                        <p class="card-text">Disponibles: {{i.stock}}</p>
                        {% if i.stock == 0 %}
                        <p>Producto no disponible!</p>
                        {% else %}
                        <a href="{% url 'add' user_id=request.session.email prod_id=i.codigo %}" class="btn btn-light">Agregar al Carrito</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}