.container {
    padding-top: 10px;
    margin-top: 20px;
    width: 35%;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    height: 70vh;
    border: 2px groove rgb(204, 157, 1);;
}

#form {
    margin: 140px;
}

.form-select {
    margin-bottom: 8px;
}