@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: auto;
}

#logo_header {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#logo_header>img {
    width: 15%;
    height: 100%;
}

#logo_header>h2 {
    padding-left: 20px;
}

#menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: right;
}

#menu>a {
    text-decoration: none;
    color: white;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

#menu>a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.45s;
    
}
#menu li button>a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'Chakra Petch', sans-serif;
}
#menu li a div {
    float: left;
}
#menu li {
    display: inline-block;
    padding-right: 30px;
}


#hist_masterbikes {
    display: flex;
    padding-top: 20%;
    width: 80%;
    padding: 2%;
    margin: 20px 0 20px 9%;
    background-color: black;
    color: white;
}

body {
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#carrusel{
    width: 60%;
    padding-top: 2%;
    margin-left: 20%;
}
.carousel-inner > .carousel-item > img {
    height: 60vh;
    width: 100%;
  }

#hist_masterbikes>img {
    width: 700px;
    margin-right: 15px;
}

#parrafo_hist>h1 {
    padding-top: 2%;
    color: rgb(212, 175, 55);
}

#productos{
    width: 50%;
    height: 200%;
    padding-top: 2%;
    margin-left: 2%;
}
#titulo{
    display: flex;
    justify-content: center;
    background-color: black;
    border-color: rgb(221, 170, 1);
    color: white;
    width: 50%;
    margin-left: 70%;
    border-radius: 15px;
    padding: 1%;
    font-size: 23px;
    font-family: 'Chakra Petch', sans-serif;

    
}
#card{
    padding-top: 2%;
}

.col{
    margin: 7%;
    
}
.col>.card{
    height: 40vh;
    width: 200%;

}
.col>.card:hover{
    border-color:rgb(204, 157, 1);
    border-style: groove;
    border-width: 2px;
}
.col > .card > img {
    height: 20vh;
    width: 100%;
  }
.col > .card> .card-body> a{
    margin-left: 20%;
}
.col > .card> .card-body> a:hover{
    background-color: black;
    color: #ffffff;
    border-color: rgb(221, 170, 1);
    transition-duration: 0.45s;
    margin-left: 20%;
}
.col > .card> .card-body{
    color: #ffffff  ;
    background-color: black;
}
.btn.btn-primary{
    padding: 4%;
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
}

#abajo{
    padding-top: 2%;
}

footer {
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

#redes_sociales {
    display: flex;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
}

#redes_sociales>a>img {
    width: 60px;
    height: 60px;
}

#logo_footer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#logo_footer>img {
    width: 30%;
    height: 100%;
    margin-left: 70%;
    
}
#info{
    margin-left: 2%;
}
