#productos{
    width: 50%;
    height: 200%;
    padding-top: 2%;
    margin-left: 2%;
}
#titulo{
    display: flex;
    justify-content: center;
    background-color: black;
    border-color: rgb(221, 170, 1);
    color: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 15px;
    padding: 1%;
    font-size: 23px;
    font-family: 'Chakra Petch', sans-serif;

    
}

#card{
    
    padding-top: 2%;

}


.col{
    margin-bottom: 50px;
}

.card{
    height: 40vh;
    width: 100%;

}
.card:hover{
    border-color:rgb(204, 157, 1);
    border-style: groove;
    border-width: 2px;
}
.card > img {
    height: 20vh;
    width: 100%;
  }
.card-body> a{
    margin-left: 20%;
}
.card-body> a:hover{
    background-color: black;
    color: #ffffff;
    border-color: rgb(221, 170, 1);
    transition-duration: 0.45s;
    margin-left: 20%;
}
.card-body{
    color: #ffffff  ;
    background-color: black;
}
.btn.btn-primary{
    padding: 4%;
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
}


